
:root{
	--bs-navy:#234152;
	--bs-teal:#097f93;
	--bs-light-teal:#097f93;
	--bs-light-blue:#08c6d0;
	--bs-blue:#0a94b2;
	--bs-white:#e2d2db;
	--bs-dark-purple:#341841;
	--bs-grey:#292821;
	--bs-light-purple:#5f284d;
	--bs-purple:#473551;

	/* CSS HEX */
--french-gray: #cfccd6ff;
--periwinkle: #bbc2e2ff;
--periwinkle-2: #b7b5e4ff;
--taupe-gray: #847979ff;
--drab-dark-brown: #322e18ff;

/* CSS HSL */
--french-gray: hsla(258, 11%, 82%, 1);
--periwinkle: hsla(229, 40%, 81%, 1);
--periwinkle-2: hsla(243, 47%, 80%, 1);
--taupe-gray: hsla(0, 4%, 50%, 1);
--drab-dark-brown: hsla(51, 35%, 15%, 1);



}
* {
	/* background-color: var(--periwinkle-2); */
	
   
}
body{
	font-family: Comic Sans MS, Monotype Corsiva;
	/* background-image:url("background image.jpg"); */
	background: #B7B5E4FF;
background: linear-gradient(90deg, rgba(183, 181, 228, 1) 0%, rgba(207, 204, 214, 1) 50%, rgba(187, 194, 226, 1) 100%);
	}

.container{
	position: relative
}


.center{
	display: flex;
	justify-content: center;
	align-items: center;
	}


img{
	border: 5px solid rgb(0, 0, 0);
	margin: 10px 10px 10px 10px;
	height: 200px;
	width: 400px;
}
.project{
	width: 60%;
}
h1{
	text-align: center;
}
button:hover{
	background-color: var(--periwinkle);
}
.navigation{
	border-bottom: solid;
	border-top: solid;
	border-color: var(--french-gray);
}
